{% extends 'base.html' %}

{% block content %}
<form action="" id="login-form" method="post">
    {% csrf_token %}
    {{ form.field.errors }}
    <div class="form-field">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control"/>
    </div>
    <div class="form-field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control"/>
    </div>
    <p></p>
    <input type="submit" value="Login" class="btn btn-info">
</form>
{% endblock %}