{% extends 'base.html' %}

{% block content %}

    <h1>Products</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Likes</th>
            </tr>
        </thead>
        {% for product in product_list %}
            <tr>
                <td>
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                </td>
                <td>
                    {{ product.description }}
                </td>
                <td>
                    ${{ product.price }}
                </td>
                <td>
                    {{ product.likes }}
                </td>
            </tr>
        {% endfor %}
        <a href=""></a>
    </table>
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}

    {% endif %}
{% endblock content %}

{% block javascript %}
    <script>
        $('th').click(function(){
            var table = $(this).parents('table').eq(0);
            var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()));
            this.asc = !this.asc;
            if (!this.asc){
                rows = rows.reverse()
            }
            for (var i = 0; i < rows.length; i++){
                table.append(rows[i])
            }
        });
        function comparer(index) {
            return function(a, b) {
                var valA = getCellValue(a, index), valB = getCellValue(b, index);
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB)
            }
        }
        function getCellValue(row, index){
            return $(row).children('td').eq(index).html()
        }
    </script>
{% endblock %}